html{
    background-color: #777;
}
main{
    background-color: white;
    font-size: 15pt;
}
#obal{
    width: 960px;
    margin: 0 auto;
    background-color: white;
}
.sCtverec, .sObdelnik, .sKrychle, .sKvadr{
    margin-left: 20px;
}
#sSquare, #sRectangle, #sCube, #sBlock{
    margin-left: 40px;
}
.vysledek{
    text-align: center;
    font-size: 13pt;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.vysledek:hover{
    text-align: center;
    font-size: 13pt;
    border: 2px solid black;
    background-color: white;
    color: black;
}
#ctvObsCount{
    margin-bottom: 20px;
}
.kvadr{
    margin-top: 10px;
}