h1{
    text-align: center;
    background: radial-gradient(black,blue);
    color: white;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -8px;
}
html{
    font-family: 'Mina', sans-serif;
    background: linear-gradient(white, #ddd);
}
#svg{
    margin-left: 500px; 
    float: left;
    border-right: 2px solid gray;
    padding-right: 20px;
}
#country-data{
    float: left;
    margin-right: 200px;
    text-align: left;
    padding-left: 10px;
}
img{
    width: 200px;
    border: black solid 5px;
}
footer{
    float: none;
    text-align: center;
}